//- 2019 BrightNightGames. All Rights Reserved

extends ../layout

block header 
  script#tmpl-invoice(type="x-tmpl-markdown" data-path=invoicePath data-view=viewPath).
    !{template}
  script#tmpl-table(type="x-tmpl-mustache")
    table.table.table-sm.table-hover.table-striped
      thead
        tr
          th(scope="col")
            span.d-none #
          th(scope="col") 
          th(scope="col") 
          th(scope="col")= _x("Name","Name")
          th(scope="col")
            span.d-none.d-md-block= _x("Leave a comment...","comment the event")
          th(scope="col") 
            span.d-none.d-md-block= _x("Phone","Phone")
          
          th(scope="col") 
            i.fa.fa-wrench.d-none.d-md-block
      tbody
  script#tmpl-row(type="x-tmpl-mustache")
    tr
      th(scope="row") 
        .d-none
          .d-flex.justify-content-end
            span {{index}} 
      td
        .d-none.d-md-block
          a.btn.btn-link.details.p-0(href="#" tabindex="0" data-html="true" role="button" data-toggle="popover" data-trigger="focus")
            .fa.fa-search
      td
        img.logo(src="{{image}}" width="32" height="32")
      td {{name}}
      td
        span.d-none.d-md-block {{comment}}
      td 
        a.d-none.d-lg-block(href="#" clipboard="+{{telephone}}")
          label.text-monospace {{#telephone}}+{{telephone}}{{/telephone}}{{^telephone}}-{{/telephone}}
      
      td 
        a.p-2.btn.btn-link.fa.fa-pencil.edit(href="#" data-id="{{_id}}")
        a.p-2.btn.btn-link.fa.fa-remove.delete(href="#" data-id="{{_id}}")
 
  script#tmpl-form(type="x-tmpl-mustache")
    form(method="POST")
      .form-group
          label(for="customer")= _x("Customer", "Enter the customer")
          input.form-control(type='text', name='customer', placeholder='X', list="organizationlist" autofocus, required)
          <datalist id="organizationlist">
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
          </datalist>

block content 
  app-invoice
    #invoice-modal.modal.fade(tabindex="-1" role="dialog" data-backdrop="static")
      .modal-dialog.modal-fullscreen.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            ul#modal-tabs.nav.nav-tabs(role="tablist")
              li.nav-item
                a.nav-link.active(type="button" title="Create" data-toggle="tab" href="#add-invoice-collapse" aria-controls="add-invoice-collapse" aria-selected="true")
                  i.fa.fa-plus
                  span.ps-2= _x("Create","Create")  
              li.nav-item
                a.nav-link.disabled(type="button" title="Edit" data-toggle="tab" href="#edit-invoice-collapse" aria-controls="edit-invoice-collapse" aria-selected="false")
                  i.fa.fa-pencil
                  span.ps-2= _x("Edit","Edit")   
            button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
          .modal-body
            .tab-content.mt-4
              #add-invoice-collapse.tab-pane.fade.show.active
              #edit-invoice-collapse.tab-pane.fade
            #preview
    .row
      .col.col-12.col-md-2.col-lg-2
        nav.nav.nav-pills.flex-column
          a#new.nav-item.btn.btn-primary(href="#" type="button" data-bs-toggle="modal" data-bs-target="#invoice-modal")
            i.fa.fa-plus
            span.ps-2= _x("Add","Add")
      .col.col-expand
        .d-flex.flex-column.card.border-light
          #invoice.mvh-70
block footer         
  script.
    // hello from ALPINE
    Alpine.start()
    customElements.define("app-invoice", require("app").widget.PTInvoicePanel)
