//- 2019 BrightNightGames. All Rights Reserved

extends ../layout

block header 
  script#tmpl-table(type="x-tmpl-mustache")
    table.table.table-sm.table-hover.table-striped
      thead
        tr
          th(scope="col")
            span.d-none #
          th(scope="col") 
          th(scope="col") 
          th(scope="col")= _x("Name","Name")
          th(scope="col")= _x("Short","Short Name")
          th(scope="col")
            span.d-none.d-md-block= _x("Leave a comment...","comment the event")
          th(scope="col") 
            span.d-none.d-md-block= _x("Phone","Phone")
          
          th(scope="col") 
            i.fa.fa-wrench.d-none.d-md-block
      tbody
  script#tmpl-row(type="x-tmpl-mustache")
    tr
      th(scope="row") 
        .d-none
          .d-flex.justify-content-end
            span {{index}} 
      td
        .d-none.d-md-block
          a.btn.btn-link.details.p-0(href="#" tabindex="0" data-html="true" role="button" data-toggle="popover" data-trigger="focus")
            .fa.fa-search
      td
        img.logo(src="{{logoSmall}}" width="32" height="32")
      td {{name}}
      td {{short}}
      td
        span.d-none.d-md-block {{comment}}
      td 
        a.d-none.d-lg-block(href="#" clipboard="+{{contact.phone}}")
          label.text-monospace {{#contact.phone}}+{{contact.phone}}{{/contact.phone}}{{^contact.phone}}-{{/contact.phone}}
      
      td 
        a.p-2.btn.btn-link.fa.fa-pencil.edit(href="#" data-id="{{_id}}")
        a.p-2.btn.btn-link.fa.fa-remove.delete(href="#" data-id="{{_id}}")

  script#tmpl-row-popover(type="x-tmpl-mustache")
    .m-1
      dl.row
        dt.col.col-auto
          img.rounded.mx-auto.d-block(src="{{logoSmall}}" width="64")
        dd.col.pl-1
          h5 {{short}} 
          small {{name}}
        .col-12
          .d-flex.flex-column.pt-2
            .p-1
              a(href="#" mailto="{{email}}" clipboard="{{email}}") 
                .fa.fa-envelope-o.pr-2
                label.text-monospace {{contact.email}}
            .p-1
              a(href="#" phone="{{phone}}" clipboard="{{phone}}")
                .fa.fa-phone.pr-2
                label.text-monospace {{#contact.phone}}+{{contact.phone}}{{/contact.phone}}{{^contact.phone}}-{{/contact.phone}}
      .row
        .col
          .card.bg-light.p-1
            span.card-text {{#comment}}{{comment}}{{/comment}}{{^comment}}-{{/comment}}
  
  script#tmpl-addressline(type="x-tmpl-mustache")
    .form-group.col-12
      label(for=`{{r}}_billing_address`)= _x("Address","Address") 
      input.form-control(type='text', value="{{.}}" name='billing_address', id=`{{r}}_billing_address` placeholder="1234B Main St"  )
  
  script#tmpl-form(type="x-tmpl-mustache")
    .container
      form.form-horizontal(action="{{action}}", method='POST', autocomplete="off", id="{{id}}")
        input(type='hidden', name='_csrf', value="_csrf")
        input(type='hidden', name='id', value="{{id}}")

        .row
          .col.col-12 
            h5= _x("General","General")  
          .form-group.col-12 
            label= _x("Image","Company Image") 
            input(type="hidden" name="image")
            .col
              .d-flex.justify-content-begin
                img.preview(width='128', height='128')
                .form-group.align-self-center 
                  input.btn.btn-link(id=`{{r}}_logo` name="logo" type="file" accept=".png,.jpg,.jpeg" hidden)
                  label.btn.btn-link(for=`{{r}}_logo`) 
                    i.fa.fa-upload
                    small.ps-2.form-text= _x("Upload Image","Upload Image")  
          .form-group.col-md-6
            label(for=`{{r}}_name`)= _x("Name","Name")  
            input.form-control(type='text', value="{{name}}" name='name', id=`{{r}}_name` placeholder="Name" required)
          .form-group.col-md-6
            label(for=`{{r}}_legalname`)= _x("Legal Name","Short Name")  
            input.form-control(type='text', value="{{legalName}}" name='legalName', id=`{{r}}_legalname`  placeholder="Legal Name" required)
          .form-group.col-md-6
            label(for=`{{r}}_phone`)= _x("Phone","Phone")  
            input.form-control(type='text', value="{{telephone}}" name='telephone', id=`{{r}}_phone` placeholder="32484XXXXXX" pattern="[0-9]")
          .form-group.col-md-6
            label(for=`{{r}}_language`)= _x("Language","Language")  
            input.form-control(type='text', value="{{languageCode}}" name='languageCode', id=`{{r}}_language` placeholder="be-fr")

        .row
          
          //- label.align-self-center.logo.square.large(src="/images/LogoSB.png" width='128', height='128' )
          //- label.align-self-center(src="/images/LogoSB.png", class='ml-3 logo border-circle', width='48', height='48' data-preview="logo")
           
        
        .row
          .col.col-12 
            h5= _x("Contact detail","Contact detail") 
          .form-group.col-md-12
            label(for=`{{r}}_person`)= _x("Person","Person contact")  
            input.form-control(type='text', value="{{contact.person}}" name='contact', id=`{{r}}_person` placeholder="Someone in charge")
        .row
          .col.col-12 
            h5= _x("Billing Information","Billing Information")
          
          .form-group.col-md-6
            label(for=`{{r}}_taxid`)= _x("Tax ID","Tax ID")   
            input.form-control(type='text', value="{{taxID}}" name='taxid', id=`{{r}}_taxid` placeholder="")
          .form-group.col-md-6
            label(for=`{{r}}_vatID`)= _x("Vat ID","Vat ID")   
            input.form-control(type='text', value="{{vatID}}" name='vatid', id=`{{r}}_vatid` placeholder="")
        
          
          .form-group.col-md-6
            label(for=`{{r}}_billing_country`)= _x("Country","Country")   
            input.form-control(type='text', value="{{billing.country}}" name='billing_country', id=`{{r}}_billing_country` placeholder="Belgium" required)
          .form-group.col-md-6
            label(for=`{{r}}_billing_region`)= _x("Region","Region")   
            input.form-control(type='text', value="{{billing.region}}" name='billing_region', id=`{{r}}_billing_region` placeholder="Brussel" required)
          .form-group.col-md-6
            label(for=`{{r}}_billing_city`)= _x("City","City")   
            input.form-control(type='text', value="{{billing.city}}" name='billing_city', id=`{{r}}_billing_city` placeholder="Molenbeek-Sain-Jean" required)
          .form-group.col-md-6
            label(for=`{{r}}_billing_postal_code`)= _x("Postal Code","Postal Code")   
            input.form-control(type='text', value="{{billing.postalCode}}" name='billing_postalCode', id=`{{r}}_billing_zip` placeholder="1080" required)
          |{{#billing.addressLine}} 
          |  {{ > addressline}}
          |{{/billing.addressLine}}
        .row
          .col.col-12 
            h5= _x("Advanced","Advanced") 
          .form-group.col-md-6
            label(for=`{{r}}_timezone`)= _x("Time Zone","Time Zone")  
            input.form-control(list="timezones" value="{{timezone}}" name='timezone', id=`{{r}}_timezone` placeholder= _x('Select a Time Zone...','Select a Time Zone...'))
            datalist#timezones
              for tz in timezone
                option(value=`${tz.text}`)
        .row
          .form-group.col-12
            label(for=`{{r}}_description`)= _x("Leave a comment...","comment the event")  
            textarea.w-100.form-control.md-textarea(name='comment' id=`{{r}}_description`, rows="3"  placeholder=_x("Leave a comment...","comment the event"))
              | {{description}} 
        .form-group.row.d-flex.justify-content-end.mx-1
          button.btn(type='reset')= _x("Reset","Reset")  
          button.btn.btn-primary.ml-1(type='submit')= _x("Send","Send")   
  script#tmpl-form-delete(type="x-tmpl-mustache")
    .container
      form.form-horizontal(action="/organization/remove", method='POST', autocomplete="off")
        input(type='hidden', name='id', value="{{_id}}")

        h5 Sure to delete {{name}} ? 
        img.rounded(src="{{#logoSmall}}{{logoSmall}}{{/logoSmall}}{{^logoSmall}}/images/camera.svg{{/logoSmall}}" width="64" height="64")
        .m-3.d-flex.justify-content-end
          .p-1
            button.btn.btn-primary(type="button" data-dismiss="modal") Cancel
          .p-1
            button.btn.btn-secondary.ok(type="submit") Yes

block content
  app-organization       
    #organization-modal.modal.fade(tabindex="-1" role="dialog" data-backdrop="static")
      .modal-dialog.modal-xl.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            ul#modal-tabs.nav.nav-tabs(role="tablist")
              li.nav-item
                a.nav-link.active(type="button" title="Create" data-toggle="tab" href="#add-organization-collapse" aria-controls="add-organization-collapse" aria-selected="true")
                  i.fa.fa-plus
                  span.ps-2= _x("Create","Create")  
              li.nav-item
                a.nav-link.disabled(type="button" title="Edit" data-toggle="tab" href="#edit-organization-collapse" aria-controls="edit-organization-collapse" aria-selected="false")
                  i.fa.fa-pencil
                  span.ps-2= _x("Edit","Edit")   
              li.nav-item
                a.nav-link.disabled(type="button" title="Edit" data-toggle="tab" href="#delete-organization-collapse" aria-controls="delete-organization-collapse" aria-selected="false")
                  i.fa.fa-trash
                  span.ps-2= _x("Delete","Delete")   
            button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
          .modal-body
            .tab-content.mt-4
              #add-organization-collapse.tab-pane.fade.show.active
              #edit-organization-collapse.tab-pane.fade
              #delete-organization-collapse.tab-pane.fade
    .row
      .col.col-12.col-md-2.col-lg-2
        nav.nav.nav-pills.flex-column
          a#new.nav-item.btn.btn-primary(href="#" type="button" data-bs-toggle="modal" data-bs-target="#organization-modal")
            i.fa.fa-plus
            span.ps-2= _x("Add","Add")
      .col.col-expand
        .d-flex.flex-column.card.border-light
          table#organization.mvh-70
block footer         
  script.
    // hello from ALPINE
    Alpine.start()
    customElements.define("app-organization", require("app").widget.PTOrganizationPanel)
